body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    
}

.container-options{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container {
 height: 500px;
 width: 500px;
 display: flex;
 border: 1px solid black;
}

/* Class to add to the container to apply the grid to all elements inside the container*/
.container.hasgrid .vertical .horizontal{
    border: 1px solid black;
}

.horizontal {
    height: 100%;
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
}

.label{
    display: inline;
    font-size: 15px;
}

.inputs{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.inputs input{
    width: 50%;
}