
.container {
 /* border: 1px solid blue; */
 height: 700px;
 width: 700px;
 display: flex;
 border: 1px solid blue;
}

/* Class to add to the container to apply the grid to all elements inside the container*/
.container.hasgrid .vertical .horizontal{
    border: 1px solid black;
}

.horizontal {
    height: 100%;
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.horizontal_hover{
    background-color: rgb(21, 230, 195);

}
